body{
    background-color: steelblue;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form form {
    margin-bottom: 10px;
    padding: 50px 30px;
    background-color: aliceblue;
    text-align: center;
    border-radius: 20px;
}

.form form * {
    margin-bottom: 20px;
}

.form form h3 {
    color: rgb(0, 0, 0);
    margin-bottom: 35px;
}

.form input {
    width: 250px;
    height: 50px;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid royalblue;
    border-radius: 5px;
}

.form input[type=submit]{
    background-color: royalblue;
    opacity: 0.8;
    border-radius: 10px;
    border: none;
    color: white;
    width: 30%;
}


.form input[type=submit]:hover {
    opacity: 1;
}


a {
    color: black;
    font-size: 15px;
    text-decoration: none;

}