body{
    background-color: steelblue;
}

form{
    position: absolute;
    width: 300px;
    height: 350px;
    background-color: white;
    /* margin: auto; */
    top: 25vh;
    text-align: center;
    border-radius: 25px;
}
div{
    position: relative;
    width: 300px;
    margin: auto;
    text-align: center;
    padding: 0;
    height: 100%;
}

input:not([type=submit]){
    width: 200px;
    padding: 10px 5px;
    margin-top: 10%;
    /* border-radius: 5px; */
    border: none;
    border-bottom: 2px solid steelblue;
    background-color: white;
    outline: none;
}
input[placeholder=Username]{
    margin-top: 3%;
}

h3{
    /* display: block;
    margin-top: 25%; */
    padding-top: 10%;
    margin-bottom: 25px;
    color: blue;
}

input[type=submit]{
    margin-top: 10%;
    width: 50%;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(86, 86, 255);
    color: white;
    opacity: 0.8;
}
input[type=submit]:hover{
    opacity: 1;
}

input[type=submit]:active{
    background-color: blue;
}
span{
    color: blue;
}
