<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Log In</title>
</head>
<body>
    <div>
        <form action="/" method="POST">
            <h3>Login</h3>
            <!-- <h3><span>Login</span> form</h3> -->
            <input type="text" placeholder="Username" id="userName" name="username"><br>
            <input type="password" placeholder="Password" id="passWord" name="password"><br>
            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>
